.transition {
  transition: all 0.4s ease 0s;;
}

header {
  padding: 40px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: block;
}

.nav-section {
  display: grid;
  grid-template-columns: 300px 2fr;
}

.logo {
  margin-left: 40px;
}

/* For Smaller Devices */

@media screen and (max-width: 991px) {
  header {
    padding: 20px 0;
  }
}